html {
    margin: 0;
    padding: 0;
  }

/* Buttons */

.btn.btn-primary {
    font-size: 12px;
    font-family: "Lucida Grande";
    text-decoration: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: whitesmoke;
    display: inline-block;
    padding: 0.4em 1em;
    border: 0.1em solid black;
    border-radius: 0.38em;
    background-color: dimgray;
    align-items: center;
  }
  .btn.btn-primary:hover {
    background-color: lightgreen;
    color: black;
  }
 
  
  body {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    background-image: url("./pineapple-bg.jpg");
    background-size: cover;
    background-color: gray;
    padding: 10px;
    margin: 0;
  }
  
  h1 {
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
    color: dimgrey;
    text-align: center;
    padding: 18px 0 18px 0;
    margin: 0 0 10px 0;
  }
  h2 {
    font-size: 1.5rem;
    color: darkgrey;
    text-align: center;
    padding: 18px 0 18px 0;
    margin: 0 0 10px 0;
  }

  
  p {
    padding: 0;
    margin: 0;
    color: #000000;
  }

  .img-circle {
    border: 8px solid white;
    border-radius: 50%;
  }

  .float-child img {
    width: 250px;
    height: 250px;
    margin: auto;
  }

  .float-container {
    padding: 30px;
    }

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
    
} 



  
.about-section {
    background-color: gainsboro;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 30px;
    opacity: 0.9;
}


  .section {
    background-color: #7B7B7C;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 30px;
    opacity: 0.9;
    
    
  }

 


  
  #header {
    /* background-image: url("./pineapple-bg.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(24, 23, 23);
  }

  .nav-pills .nav-link.active {
      color: lightgrey;
      background-color: dimgrey;
      
  }

  .nav-pills .nav-link.active:hover {
    background-color: #ececec;
    color: black;
}

  .nav-pills .nav-link {
      color: lightgreen;

  }

  .footer {
      background-color: #7B7B7C;
      background-size: cover;
      display: block;
      height: 100px;
      margin: auto;
  }
  







